
<div class='body'>
    <!-- Very bad and very temporary... Don't drink and program. -->
    <div layout>
        <div flex="20" layout layout-align="center center">
            <span class="md-body-1">Charge</span>
        </div>
        <md-slider flex min="-500" max="10" ng-model="ctrl.charge" aria-label="red" id="red-slider" ng-change="ctrl.changeForce()">
        </md-slider>
        <div flex="20" layout layout-align="center center">
            <input flex type="number" ng-model="ctrl.charge" aria-label="red" aria-controls="red-slider">
        </div>
    </div>
</div>