extends layout
block content
 .android
    h1 Android Experiance
    br
    h2 Areas of expertise
    ul.list-group
        li.list-group-item.border-less Responsive Design
        li.list-group-item.border-less SDK/Java Development
        li.list-group-item.border-less Android OS builds
