#footer.footer
    .container
      .col-xs-6
        span.info © Jackie Gleason
      .col-xs-6.footer-linke
        a.pull-right.email-link(href="mailto:jackiegleason@gmail.com")
          i.fa.fa-envelope
        a.pull-right.github(href="https://github.com/jrgleason")
              i.fa.fa-github
        a.pull-right.so(href="http://stackoverflow.com/users/125212/jackie")
              i.fa.fa-stack-overflow
script(src="//code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
script(src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
script(src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
script(src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
script(src="/javascripts/app.js")
