extends layout
block content
  .container
    h1 J2EE/JAVA Experiance
    br
    h2 Technologies
    ul.list-group
        li.list-group-item.border-less Spring 2/4
        li.list-group-item.border-less MVC
        li.list-group-item.border-less DSLs (Groovy, Scala)
        li.list-group-item.border-less J2ME
        li.list-group-item.border-less J2EE Containers (Websphere, Tomcat, OAS, and more)
    h2 Clients
    ul.media-list 
        li.media 
          a.pull-left(href="http://www.abercrombie.com")
            img.media-object(src="https://media.licdn.com/mpr/mpr/shrink_65_65/p/4/000/15a/1c5/20f8dd6.png" alt="...")
          .media-body
            h4 Abercrombie and Fitch
            p At Abercrombie and Fitch, I helped to design the web interface for their new customer loyalty program.
        li.media
          a.pull-left(href="http://nationwide.com")
            img.media-object(src="/images/nationwideinsurance.jpg" alt="...")
          .media-body
            h4 Nationwide Insurance
            p Nationwide's bank was looking for an experianced Java Developer to help them decide what direction their forms project should take.
        li.media
          a.pull-left(href="http://key.com")
            img.media-object(src="/images/key.png" alt="...")
          .media-body
            h4 KeyBank
            p Properly securing customers against fraud is very important to any bank and Key was no exception. I helped develop a multifactor authentication mechinism that allowed Key to protect customers and meet OCC regulations.     
        li.media
          a.pull-left(href="http://oclc.org")
            img.media-object(src="/images/oclc.png" alt="...")
          .media-body
            h4 OCLC
            p As one of my first Grails project, Java is a big part of OCLC's development platform. I used these technologies to contribute on their NextGen Worldcat product.
        li.media
          a.pull-left(href="http://www.hawaiipublicschools.org/")
            img.media-object(src="http://www.hawaiipublicschools.org/PublishingImages/masterpage/hidoe-logo.png" alt="...")
          .media-body
            h4 Hawaii Department of Education
            p I helped the Hawaii Department of Education create a platform used to manage forms used for a variety of services.
