doctype html
html
  include head
  body
    .github-fork-ribbon-wrapper.right
      .github-fork-ribbon
        a(href="https://github.com/jrgleason") Fork me on GitHub
    include header
    .main#main
        .content
          block content
        include footer
