html, body
  height:100%
  font-family: 'Open Sans', sans-serif
a
  color: #00B7FF
col-md-4
  height:100%
.glyph
  span.fa
    font-size: 10em
.fa-coffee
  color: red
.fa-android
  color: #A4C739
.android
  padding: 0 10px;
.fa-arrows
  color: #0033FF
.info-area
  height: calc(100% - 55px);
footer
  a
    float:left
  span.fa
    margin-left: .5em
    font-size: 1em
    p
      margin-left: 2em
hr
  border-top: 1px solid black
.media-body
  h4
    margin-top:0px;
.border-less
  border-style: none
.content
  display : -webkit-flex
  display:flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
.jumbo
    background-color:#666666
    color:white
    // display : -webkit-flex
    // display:flex
    // -webkit-flex-direction: column 
    // flex-direction: column
    // background-image:url(/images/pbg.jpg)
    min-height: 100%
    width:100%
    background-color:#222
    .message
        text-align:center
    .logo
      img
        display:block;
        margin:auto;
        max-width: 70%
.large-link
    display:block
.small-link
    display:none
.navbar,.info
  margin-bottom:0
.navbar
  border-radius: 0
  border: 0
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a
  color:white
  font-size: 1.75em
.footer
  bottom: 0
  width: 100%
  height: 60px
  background-color:#666666 
  color:white
  line-height: 60px
  vertical-align: middle
  .footer-links
    min-width: 104px
  a
    font-size: 1.95em
    color: white
    margin-left: 10px
.main
  overflow-y:auto
  height:calc(100% - 55px)
  width:100%
  .content
    overflow-y:auto;
    height:calc(100% - 60px)
  .pad
    height: 50px
    width:100%
.navbar
  a.btn
    background-color:red
    &:hover,&:focus,&.focus
      color: @btn-default-color;
      background-color:grey
.row
  display : -webkit-flex
  display:flex
  -webkit-flex-wrap: wrap
  flex-wrap: wrap
  margin:0
  padding:8px 
  padding-left: 12px
  .row-item
    -webkit-flex-basis: 33%; /* Safari 6.1+ */
    flex-basis: 33%
    min-width:33%
    display : -webkit-flex
    display:flex
    -webkit-flex-direction: column
    flex-direction: column
    -webkit-align-items: center;
    align-items: center;
ul.nav.navbar-nav.navbar-right > .github
  display:none;
.navbar-collapse .navbar-nav.navbar-right:last-child 
    margin-right: 35px
.message > p 
  font-size: 1.25em

@media screen and (min-width:995px)
  .jumbotron
    // background-image:url(/images/pbg.jpg)
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: auto 100%;
    background-position:right; 
@media screen and (max-width:750px)
  .large-link
    display:none
  .small-link
    display:block
  .row
    .row-item
      min-width:100%
  .main
    height:calc(100% - 50px);
  .github-fork-ribbon-wrapper
    display:none;
  .github
    display: block
@media screen and (max-width:500px)
  .jumbotron
    background-image: none
  .glyph
    width: 100%
    span.fa
      text-align: center
      width: 100%
      display: block
      margin: 0 auto
@media screen and (min-width:720px)
  .col-md-4 > .panel > .panel-body {
    min-height: 420px;
  }
