#footer.footer
    .container
      .col-xs-6
        span.info © Jackie Gleason
      .col-xs-6.footer-linke
        a.pull-right.email-link(href="mailto:jackiegleason@gmail.com")
          i.fa.fa-envelope
        a.pull-right.github(href="https://github.com/jrgleason")
          i.fab.fa-github
        a.pull-right.so(href="http://stackoverflow.com/users/125212/jackie")
          i.fab.fa-stack-overflow
script(src="/webpack/bundle.js")
