extends layout
block content
  .container
    h1 Responsive Experiance
    br
    h2 Clients
    ul.media-list 
        li.media 
          a.pull-left(href="http://www.abercrombie.com")
            img.media-object(src="http://www.thatsjustepic.com/image/cache/data/Screen%20Shot%202013-06-11%20at%2012.37.56%20AM-65x65.png" alt="...")
          .media-body
            h4 Abercrombie and Fitch
            p At Abercrombie and Fitch, I helped to design the web interface for their new customer loyalty program.
        li.media
          a.pull-left(href="http://nationwide.com")
            img.media-object(src="/images/nationwideinsurance.jpg" alt="...")
          .media-body
            h4 Nationwide Insurance
            p Nationwide's bank was looking for an experianced Java Developer to help them decide what direction their forms project should take.
        li.media
          a.pull-left(href="http://key.com")
            img.media-object(src="/images/key.png" alt="...")
          .media-body
            h4 KeyBank
            p Properly securing customers against fraud is very important to any bank and Key was no exception. I helped develop a multifactor authentication mechinism that allowed Key to protect customers and meet OCC regulations.     
        li.media
          a.pull-left(href="http://oclc.org")
            img.media-object(src="/images/oclc.png" alt="...")
          .media-body
            h4 OCLC
            p As one of my first Grails project, Java is a big part of OCLC's development platform. I used these technologies to contribute on their NextGen Worldcat product.
